#header {
    background-color: #000000de;
    color: rgb(255, 252, 250);
    font-size: 1.5em;
    word-spacing: 10px;
    padding: 0px;
    min-width: max-content;
    
}

#header > img {
  vertical-align: middle;
  max-height: 3em;
}

#header ul,#header li {
  display: inline-block;
}

#header a {
  color: inherit;
}
p {
  margin-top: 0;
  color: white; 
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  font-family: CenturyGothic, 'Times New Roman', Times, serif;
  line-height: 160%;
}

h1, h2, h3 {
  font-family: CenturyGothic, 'Times New Roman', Times, serif;}
h1 {
  text-align:center;
  max-width: 80%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  word-wrap:break-word;
  font-size: 3.6rem;
}
h2 {
  text-align:left;
  max-width: 80%;
  padding-left: 5px;
  width: fit-content;
  word-wrap:break-word;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.2rem;
}
a {
  color: rgb(206, 0, 0);
  font-family: sans-serif;
  letter-spacing: 0.5px;
  
}
body, html{
    margin: 0;
    background-image: url(images/satanbackground.jpg);
    background-color: black;
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
}
.wrapper {
  width: 90%;
  max-width: 1170px;
  margin: auto;
  color: white; 
  background-color: rgba(0, 0, 0, 0.507);
  font-family: CenturyGothic, 'Times New Roman', Times, serif;
}

.letterbox {
  width: 90%;
  max-width: 1170px;
  min-height: 200px;
  margin: auto;
  margin-bottom: 1em;
  color: white; 
  background-image: linear-gradient(to right , rgb(2, 0, 0), rgba(53, 53, 53, 0.055));
  font-family: CenturyGothic, 'Times New Roman', Times, serif;
  overflow: auto;
}
.letterbox > p {
  font-size: 1.5em;
  max-width: 50%;
}
.letterbox > h2 {
  font-size: 2.6em;
  margin-bottom: 20px;
  font-weight: bold;
}
.letterbox > img {
  width: auto;
  height: 200px;
  float:right;
  border:2px solid rgb(39, 0, 0);
}
.outline {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  
}
.btn {
  padding: 8px 15px;
    background-color:rgba(32, 0, 0, 0.466);
    border: 2px solid #5f0606;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0;
    width: fit-content;
    margin: auto;
    bottom:0;
    right:0;
    color: red;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.521);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #1a000079;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  text-decoration: none;
  display:inline-block;
  font-size: 1em;
}
.dropdown:hover .dropdown-content {display: block;}